.App {
  text-align: center;
}

.App-logo {
  height: 43vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #103172;
  min-height: 134vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(114, 189, 151);
}

.App-link {
  color: #b916a4;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.active{
  background-color: rgb(201, 174, 190);
  color: rgb(197, 53, 53);
  font-weight: bold;
  padding: 4px 4px;
}